{% extends 'rede_miradas/base.html' %}

{% load static %}

{% block conteudo %}

<link
    rel="stylesheet"
    href="{% static 'rede_miradas/css/comeceporaqui.css' %}"
>


<section class="carrossel">

    {% for destaque in destaques %}

        <div
            class="
                slide
                {% if forloop.first %}ativo{% endif %}
                horizontal-{{ destaque.posicao_horizontal }}
                vertical-{{ destaque.posicao_vertical }}

                {% if destaque.titulo_negrito %}titulo-negrito{% endif %}
                {% if destaque.titulo_italico %}titulo-italico{% endif %}
                {% if destaque.titulo_sublinhado %}titulo-sublinhado{% endif %}

                {% if destaque.texto_negrito %}texto-negrito{% endif %}
                {% if destaque.texto_italico %}texto-italico{% endif %}
                {% if destaque.texto_sublinhado %}texto-sublinhado{% endif %}

                {% if destaque.botao_negrito %}botao-negrito{% endif %}
                {% if destaque.botao_italico %}botao-italico{% endif %}
                {% if destaque.botao_sublinhado %}botao-sublinhado{% endif %}

                {% if destaque.botao_com_borda %}botao-com-borda{% else %}botao-sem-borda{% endif %}
            "

            style="
                background-image: url('{{ destaque.imagem.url }}');

                --cor-titulo: {{ destaque.cor_titulo }};
                --cor-texto: {{ destaque.cor_texto }};

                --cor-fundo-botao: {{ destaque.cor_fundo_botao }};
                --cor-texto-botao: {{ destaque.cor_texto_botao }};
                --cor-borda-botao: {{ destaque.cor_borda_botao }};
            "
        >

            <div class="slide-conteudo">

                {% if destaque.titulo %}

                    <h1>
                        {{ destaque.titulo }}
                    </h1>

                {% endif %}


                {% if destaque.texto %}

                    <p>
                        {{ destaque.texto }}
                    </p>

                {% endif %}


                {% if destaque.mostrar_botao and destaque.texto_botao and destaque.link_botao %}

                    <a
                        href="{{ destaque.link_botao }}"
                        class="slide-botao"
                    >
                        {{ destaque.texto_botao }}
                    </a>

                {% endif %}

            </div>

        </div>

    {% empty %}

        <div class="sem-destaques">
            Nenhum destaque cadastrado.
        </div>

    {% endfor %}


    {% if destaques|length > 1 %}

        <button
            class="carrossel-anterior"
            onclick="mudarSlide(-1)"
        >
            ❮
        </button>


        <button
            class="carrossel-proximo"
            onclick="mudarSlide(1)"
        >
            ❯
        </button>

    {% endif %}

</section>
<section class="secao-blocos py-5">

    <div class="container">
        <section class="secao-blocos py-5">

    <div class="triangulos-fundo">

        <img src="{% static 'rede_miradas/img/triangulomiradas.png' %}" class="triangulo triangulo-1" alt="">
        <img src="{% static 'rede_miradas/img/triangulomiradas.png' %}" class="triangulo triangulo-2" alt="">
        <img src="{% static 'rede_miradas/img/triangulomiradas.png' %}" class="triangulo triangulo-3" alt="">
        <img src="{% static 'rede_miradas/img/triangulomiradas.png' %}" class="triangulo triangulo-4" alt="">

    </div>


    <div class="container">

        <h2 class="text-center text-white fw-bold mb-5 titulo-blocos">
            APRENDA. CRIE. CONECTE.
        </h2>


        <div class="row g-4 justify-content-center">

            {% for bloco in blocos %}

                                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">

                    <div
                        class="card-bloco"
                        style="
                            --cor-gradiente-1: {{ bloco.cor_gradiente_1 }};
                            --cor-gradiente-2: {{ bloco.cor_gradiente_2 }};
                        "
                    >

                        <div class="card-bloco-luz"></div>

                        <div class="card-bloco-emoji">
                            {{ bloco.emoji }}
                        </div>

                        <div class="card-bloco-inner">

                            <p class="card-bloco-texto">
                                {{ bloco.texto }}
                            </p>

                        </div>

                    </div>

                </div>

            {% empty %}

                <p class="text-center text-secondary">
                    Nenhum bloco cadastrado.
                </p>

            {% endfor %}

        </div>

    </div>

</section>


<script src="{% static 'rede_miradas/js/comeceporaqui.js' %}"></script>

{% endblock %}